<!DOCTYPE html>
<html x-ng-app="meLikeyApp">
<head>
	<title>me likey</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body x-ng-controller="postsCtrl">
	<header>
		<div id="headerBar">
			<input id="search" type="text" size="45" placeholder="  search posts here" x-ng-model="searchPosts">
			<h1>&laquo; me likey &raquo;</h1>
			<!-- Button trigger modal -->
			<button id="add-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">add post</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add new post</h4>
		      </div>
		      <div class="modal-body">
		      	<form ng-submit="addPost(newPostTitle, newImageUrl, newLinkUrl, newPostDesc, newPostCat);">
			      	<h4>Post title:</h4><input type="text" size="39" placeholder=" post title here" ng-model="newPostTitle" /><br/>
			      	<h4>Image URL:</h4><input type="text" size="39" placeholder=" image Url here" ng-model="newImageUrl" /><br/>
			     	<h4>Link URL:</h4><input type="text" size="39" placeholder=" link Url here" ng-model="newLinkUrl" /><br/>
			     	<h4>Post description:</h4><input type="text" size="39" placeholder=" post description" ng-model="newPostDesc" /><br/>
			     	<h4>Category:</h4><input type="text" size="39" placeholder=" post category" ng-model="newPostCat" /><br/><br/>
			     	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<input type="submit" class="btn btn-primary" value="Save post"><br/><br/>
		        	<hr/>
		        	<p>After adding a post you can click on the see-through 'me likey' ribbon to select your favorites. (Double-click to unlike)</p>
		     	</form>
		      </div>
		    </div>
		  </div>
		</div>
	</header>
	<hr>
	<div id="main">
		<section id="wrapper">
			<h3 id="likedPageLink">Click <a href="liked.html">here</a> to see only 'liked' posts.</h3>
			<div id="columns">
				<div class="post" ng-repeat="post in posts | filter:searchPosts">
					<img ng-click="likePost(post);" ng-Dblclick="unlikePost(post);" ng-class="{true: 'liked', false: 'like'}[post.liked]" ng-src="{{ post.likeImage }}">
					<div>
						<a ng-href="{{ post.url }}" target="_blank">
							<img class="image" x-ng-src="{{ post.image }}">
						</a>
					</div>
					<div class="post-bottom">
						<div class="post-blurb">{{ post.blurb }}</div>
						<hr width="90%">
						<div class="post-category">{{ post.category }}</div>
						<a ng-click="deletePost(post);">
							<img id="delete" src="img/trash.png">	
						</a>	
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>