<!DOCTYPE html>
<html x-ng-app="meLikeyApp">
<head>
	<title>me likey</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body x-ng-controller="likedCtrl">
	<header>
		<div id="headerBar">
			<input id="search" type="text" size="45" placeholder="  search posts here" x-ng-model="searchPosts">
			<h1>&laquo; me likey &raquo;</h1>
			<a href="index.html"><button id="add-button" class="btn btn-primary btn-lg">back to home</button></a>
		</div>
	</header>
	<hr>
	<div id="main">
		<section id="wrapper">
			<div id="columns">
				<div class="post" ng-repeat="post in posts | filter:{liked: true} | filter:searchPosts">
					<img ng-click="likePost(post);" ng-Dblclick="unlikePost(post);" ng-class="{true: 'liked', false: 'like'}[post.liked]" ng-src="{{ post.likeImage }}">
					<div>
						<a ng-href="{{ post.url }}" target="_blank">
							<img class="image" x-ng-src="{{ post.image }}">
						</a>
					</div>
					<div class="post-bottom">
						<div class="post-blurb">{{ post.blurb }}</div>
						<hr width="90%">
						<div class="post-category">{{ post.category }}</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>